.score {
  text-align: center;
}
.score__title {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 30px 0;
  justify-content: center;
}
.score__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
